<html>
  <head>
    <title>Contacting for your service | The Media Ant</title>
  </head>
  <body>
    <header>
      
      <hr style="border:none;border-top:1px solid #ccc;margin:10px 0;">
    </header>

    <div style="margin:30px 0;">
      <h3>Hi,</h3>
      <p> I found your details on The Media Ant and would want to get in touch for your service. </p>
      <div style="text-align:center;">
        <p> <%= message %> </p>
      </div>
    </div>

    <div class="footer">
      <h4 style="color:#666">Stay in touch with us - help@themediaant.com</h4>
    </div>
  </body>
</html>