<html>
<head>
    <title>Contacting for your service | The Media Ant</title>
</head>
<body>
	Hi,

<p> I found your details on The Media Ant and would want to get in touch for your service. </p>

<p> Click <%= mailOptions.user.message %> </p>

<p>Regards<br/>
Team Media Ant.</p>
</body>
</html>
