h1, body {
  font-family: 'Avenir Next', sans-serif;
}

.footer{
  background: #ccc;
  margin-top: 40px;
}

h3, h4{
  text-align: center;
  font-weight: 300;
}

.btn{
  color: #ffffff;
  background-color: #222;
  border-color: #000000;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}
