<html>
<head>
    <title>The Media Ant</title>
</head>
<body>
	Hello <%= name.first %> <%= name.last %>,

<p> You are just a step away from accessing your account on The Media Ant! </p>

<p> Click <a href= 'http://139.162.29.37:3000/user/verify/<%= emailHash %>:<%= userId %>'>here</a> to verify your email address </p>

<p>Regards<br/>
Team Media Ant.</p>
</body>
</html>
