<html>
  <head>
    <title>The Media Ant</title>
  </head>
  <body>
    <header>
      <hr style="border:none;border-top:1px solid #ccc;margin:20px 0;">
      <a href="http://<%= appHost %>">
        <img src="../../../../images/themediaant-logo.jpg" style="width:10%">
      </a>
      <hr style="border:none;border-top:1px solid #ccc;margin:20px 0;">
    </header>

    <container>
      <h4>Dear <strong><%= name.first %> <%= name.last %></strong>, thank you for creating an account with us!</h4>
      <h4>Please verify that you used a real email address.</h4>
      <button>Verify My Account</button>
    </container>
    
    <footer style="background-color:#eee;margin-top:20px;">
      <h6 style="color:#ccc">Stay in touch with us - help@themediaant.com</h6>
    </footer>
  </body>
</html>
